# ═══════════════════════════════════════
#  Ghostty 설정
# ═══════════════════════════════════════

# ─── 폰트 ───
font-family = Cascadia Mono NF
font-codepoint-map = U+AC00-U+D7AF,U+1100-U+11FF,U+3130-U+318F=Noto Sans Mono CJK KR
font-size = 12
adjust-cell-width = -5%
adjust-cell-height = 3%

# ─── 스타일 ───
theme = Pandora

# ─── 커서 ───
cursor-style = block
cursor-style-blink = false

# ─── 키 바인딩 ───
keybind = shift+enter=text:\n
keybind = global:ctrl+grave_accent=toggle_quick_terminal
keybind = global:alt+space=toggle_visibility

# ─── 기타 ───
copy-on-select = clipboard

