# ═══════════════════════════════════════
#  Ghostty 설정
# ═══════════════════════════════════════

# ─── 폰트 ───
font-family = CaskaydiaCove Nerd Font
font-codepoint-map = U+AC00-U+D7AF,U+1100-U+11FF,U+3130-U+318F=Noto Sans Mono CJK KR # 한국어 (한글 음절, 자모, 호환 자모)
font-codepoint-map = U+3040-U+309F,U+30A0-U+30FF=Noto Sans Mono CJK KR # 일본어 (히라가나, 가타카나)
font-codepoint-map = U+4E00-U+9FFF,U+3400-U+4DBF,U+F900-U+FAFF=Noto Sans Mono CJK KR # 중국어 (CJK 통합 한자, 확장 A, 호환 한자)
font-codepoint-map = U+3000-U+303F=Noto Sans Mono CJK KR # CJK 공통 기호 및 구두점
font-size = 12
adjust-cell-width = -6%
adjust-cell-height = -3%

# ─── 스타일 ───
theme = iTerm2 Tango Dark

# ─── 커서 ───
cursor-style = block
cursor-style-blink = false
shell-integration-features = no-cursor

# ─── 키 바인딩 ───
keybind = shift+enter=text:\n
keybind = global:ctrl+grave_accent=toggle_quick_terminal
keybind = global:alt+space=toggle_visibility

# ─── 기타 ───
copy-on-select = clipboard

